Source: ros-hydro-self-test
Section: misc
Priority: extra
Maintainer: Brice Rebsamen <brice.rebsamen@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-diagnostic-msgs, ros-hydro-diagnostic-updater, ros-hydro-roscpp, ros-hydro-rostest
Homepage: http://www.ros.org/wiki/self_test
Standards-Version: 3.9.2

Package: ros-hydro-self-test
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-diagnostic-msgs, ros-hydro-diagnostic-updater, ros-hydro-roscpp
Description: self_test
